*.iml
.idea/
.DS_Store
.build/
.dart_tool/
.packages
pubspec.lock
ios/Pods/
ios/.symlinks/
ios/Flutter/
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
build/
.flutter-plugins
.flutter-plugins-dependencies
